<h1><a class="back-btn" href="/authors"><i class="fas fa-arrow-left"></i></a>Create author</h1>

<div class="content-container">
    <form action="/authors/new" method="POST">
    <div class="update-container">
        <%- include('./form_fields') %>
        <button class="update-btn" type="submit"><i class="fas fa-check-circle"></i></button>
    </div>
    </form>
</div>