<h1><a class="back-btn" href="/books"><i class="fas fa-arrow-left"></i></a>Create book</h1>

<div class="content-container">
    <form action="/books/<%= book.id %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="new-container">
            <%- include('./form_fields') %>
        </div>
        
        <div class="new-description">
            <label>Description</label><br>
            <textarea type="text" name="description">
            <%= book.description %>
            </textarea>
        </div>

        <div class="file-container">
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file">Choose a cover</label>
        </div>

        <div class="btn-container">
            <button class="update-btn" type="submit"><i class="fas fa-check-circle"></i></button>
        </div>
    </form>
</div>