<div class="media-container">
    <a href="https://github.com/isaacyounes04/"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/younes_isaac"><i class="fab fa-twitter"></i></a>
    <a href="mailto:igyrabello@gmail.com"><i class="far fa-envelope"></i></a>
</div>
<div class="dev">
    Made with  <i class="fas fa-heart"></i>  by Isaac Rabello
</div>