<div class="head-container">
    <div class="topnav">

        <div class="topnav-centered">
            <a class="center" href="/">e-brary</a>
        </div>
        
        <a href="/authors">Authors</a>
        <a href="/authors/new">Add author</a>
        
        <div class="topnav-right">
        <a href="/books">Books</a>
        <a href="/books/new">Add books</a>
        </div>
        
        <div class="burger-menu-icon">
            <span class="closed-icon">&#9776;</span>
        </div>

    </div>

    <div class="nav-show">
        <div class="burger-menu-icon-gold">
            <h1><a class="open-icon">×<a></h1>
        </div>
        <a href="/authors"><h1>Authors</h1></a>
        <a href="/authors/new"><h1>New author</h1></a>
        <a href="/books"><h1>Books</h1></a>
        <a href="/books/new"><h1>New book</h1></a>
    </div>
</div>