.back-btn i {
    color: #111;
}

.back-btn {
    margin-right: 20px;
    font-size: 30px;
}

.update-container {
    display: flex;
    justify-content: center;
}

.update-btn {
    font-size: 40px;
    padding: 2%;
    background-color: #00000000;
    border: none;
}