@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    width: 300px;
    height: 450px;
}
